@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.price-container {
    min-height: 100vh;
    width: 100%;
    padding: 100px 60px;
}

.price-container .prices {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.price-container .prices .price {
    padding: 40px 60px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 600px;
    flex-basis: 32%;
}

.price-container .prices .price-2 {
    border: none;
    height: 700px;
    background: linear-gradient(#0079fb, #012ecf);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 70px 4px;
}

.price-container .prices .price h2 {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

.price-container .prices .price-2 h2 {
    font-weight: 500;
}

.price-container .prices .price p {
    text-align: center;
    margin: 20px 0;
    color: #8b8b8b;
}

.price-container .prices .price h1 {
    text-align: center;
    font-size: 50px;
    color: #0083f9;
    font-weight: 400;
}

.price-container .prices .price-2 h1,
.price-container .prices .price-2 h2,
.price-container .prices .price p {
    color: #fff;
}

.price-container .prices .price .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-container .prices .price-1 .btn {
    justify-content: start;
}

.price-container .prices .price .btn .btn-primary {
    padding: 10px 60px;
    font-size: 17px;
    color: #fff;
    background: #013cd8;
    border: none;
    margin: 30px 0 20px 0;
    cursor: pointer;
    border-radius: 10px;
}

.price-container .prices .price-2 .btn .btn-primary {
    background: #fff;
    color: #000;
}

.price-container .prices .price ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price-container .prices .price ul li {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.price-container .prices .price ul li span:last-child {
    color: #8b8b8b;
}

.price-container .prices .price-2 ul li span:last-child {
    color: #fff;
}

.price-container .prices .price ul li span i {
    color: #12c2f7;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width:900px) {
    .price-container {
        padding: 80px 20px;
    }

    .price-container .prices {
        row-gap: 40px;
        column-gap: 20px;
    }

    .price-container .prices .price {
        padding: 30px 25px;
        height: auto;
        flex-basis: 48%;
    }
}

@media (max-width:900px) {
    .price-container {
        padding: 60px 10px;
    }

    .price-container .prices .price {
        height: auto;
        flex-basis: 100%;
    }
}